
        a{
            color:#999;
            font-size:12px;
            text-decoration: none;
        }
       .header-box a:hover{
            color:#23AC38;
        }
        .header-top{
            height:36px;
            width:100%;
            background:#e3e4e5;
            margin:0;
            padding:0;
        }
        .header-box{
            position:relative;
            margin:0 auto;
            height:36px;
            width:1240px;
            
        }
        ul{
            margin-top:0;
            display:flex;
            justify-content: space-between;
            list-style:none;
            margin:0;
            padding:0;
        }
        .header-top ul{
            position: absolute;
            top:0px;
            right:15px;
        }
        .header-top ul li{
            text-align:center;
            line-height:36px;
            margin-left:35px;
        }
        .header-top ul li:first-child{
            position: absolute;
            left:-845px; 
        }
        .header-top ul li:nth-child(2){
            position: absolute;
            left:-750px; 
        }
/*header里面左右晃动的小图标*/
        .header-top ul li img{
            animation: alarm-zy 0.5s infinite;
        }
        @keyframes alarm-zy{
            0%{
                transform:rotate(20deg);
            }
            25%{
                transform: rotate(0deg);
            }
            50%{
                transform: rotate(-20deg);
            }
            75%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(20deg);
            }
        }
        .search{
            margin:0 auto;
            width:1240px;
            height:118px;
            display:flex;
            justify-content:space-between;
            position: relative;
        }
        .search a{
            display:inline-block;
            width:150px;
            height:118px;
            vertical-align:middle;
        }
        .search a img{
           width:150px;
           height:40px;
           margin-top:40px;
        }
        .search input{
            border:1px solid #23AC38;
            outline-style:none;
            width:464px;
            height:42px;
            padding:0 14px;
        }
        .search-input{
            height:53%;
            padding-top:40px!important;
            position:relative;
        }
        .search-input img{
            position:absolute;
            height:44px;
            top:40px;
            right:-46px;
            width:72px;
        }
        .search-box{
            width:250px;
            height:76px;
            line-height: 76px;
            position:relative;
        }
        .search-box a{
            position:absolute;
            left:-95px;
            width:158px;
            height:42px;
            display:inline-block;
            margin-top:40px;
            border:1px solid #ddd;
            background:#f9f9f9;
            text-align:center;
            line-height:42px;
        }
        .search-box a span{
            vertical-align: middle;
            color:black;
        }
        .search>img{
            width:82px;
            height:82px;
            vertical-align: middle;
            position:absolute;
            right:10px;
            top:10px;
        }
        .nav{
            position:relative;
            margin:0 auto;
            width:1240px;
        }
        .nav-box ul{
            width:600px;
            height:37px;
            display:flex;
            position: absolute;
            left:240px;
            line-height:37px;
        }
        .nav-box ul li{
            vertical-align: middle;
        }
        .nav-box ul li a:hover{
            color:#23AC38;
        }
        .nav-box ul li a{
            font-size:15px;
            color:black;
        }
        .nav-list{
            display:inline-block;
            position: absolute;
            background: #363636;
            width: 210px;
            text-align: center;
            line-height: 38px;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
        }
        .nav-list a{
           position:absolute;
           left:25px;
           font-size:15px;
        }
   